<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Company</title>
</head>
<body>
<div th:fragment="header" th:object="${company}" style="background-color: #0a53be; color: white" class="p-4">
    <div class="d-flex flex-row justify-content-center align-items-center mb-3">
        <img style="width: 80px; height: 80px; margin-right: 20px" alt="logo"
             th:src="'data:image/jpeg;base64,'+${company.logo}">
        <h1 style="text-align: center" th:text="${company.name.toUpperCase()}"></h1>
    </div>
    <p style="text-align: center" th:text="${company.slogan}"></p>
    <div style="display: flex; justify-content: space-between">
        <div class="w-100 d-flex flex-row justify-content-around">
            <p><strong>NIF</strong> : <span th:text="${company.nif}"></span></p>
            <p><strong>STAT</strong> : <span th:text="${company.stat}"></span></p>
            <p><strong>RCS</strong> : <span th:text="${company.rcs}"></span></p>
        </div>
    </div>
</div>
<div th:fragment="footer" style="background-color: #0a53be; color: white; height: 240px" class="p-4 d-flex justify-content-center align-items-center">
    <div class="w-100 d-flex flex-row">
        <img style="width: 80px; height: 80px; margin-right: 20px" alt="logo"
             th:src="'data:image/jpeg;base64,'+${company.logo}">
        <p style="width: 40%; margin-right: 80px" th:text="${company.description}" ></p>
        <div class="d-flex flex-column" style="width: 30%">
            <p><strong>Adresse</strong> : <span th:text="${company.address}"></span></p>
            <p><strong>Email</strong> : <span th:text="${company.email}"></span></p>
            <p><strong>Phone</strong> : <span th:text="${company.phoneNumbers}"></span></p>
        </div>
    </div>
</div>
</body>
</html>