<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="ISO-8859-1"/>
    <link th:href="@{/styles/style.css}" rel="stylesheet"/>
    <link th:href="@{/styles/custom-style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Spring Boot Application</title>
    <script th:src="@{/scripts/index.js}" defer></script>
</head>
<body>
<div class="profile-form d-flex align-items-center flex-column">
    <h4 class="operation-title">Edit Employee</h4>
    <form action="/saveEmployee" method="POST" th:object="${employee}" enctype="multipart/form-data" class="form">
        <div class="mb-3 d-flex flex-row align-items-center">
            <div class="img-container">
                <img th:src="'data:image/jpeg;base64,' + ${employee.getImage()}" alt="image" height="120" width="120"/>
                <div class="upload-img">
                    <label for="image" class="form-label"><i class="fas fa-camera"></i></label>
                    <input type="file" class="form-control" id="image" name="image"/>
                </div>
            </div>
            <div class="d-flex flex-column">
                <h3>-- // --</h3>
                <h4 class="function-info">-- // --</h4>
                <h5 class="ref">-- // --</h5>
            </div>
        </div>
        <hr/>
        <h5>General Information</h5>
        <div class="d-flex flex-row">
            <div class="mb-3 me-5">
                <label for="firstName" class="form-label">First name</label>
                <input type="text" name="firstName" class="form-control" id="firstName">
            </div>
            <div class="mb-3">
                <label for="lastName" class="form-label">Last name</label>
                <input type="text" name="lastName" class="form-control" id="lastName">
            </div>
        </div>
        <div class="d-flex flex-row">
            <div class="mb-3 me-5 radio-button-gp">
                <label class="form-label">Gender</label><br />
                <select name="Sex">
                    <option th:each="sexOpt : ${T(com.example.prog4.model.Employee.Sex).values()}"
                            th:value="${sexOpt}" th:text="${sexOpt}"></option>
                </select>
            </div>
            <div class="mb-3">
                <label for="birthDate" class="form-label">Birthdate</label>
                <input type="date" name="birthDate"  class="form-control" id="birthDate"/>
            </div>
        </div>
        <div class="d-flex flex-row">
            <div class="mb-3 me-5">
                <label for="address" class="form-label">Address</label>
                <input type="text" name="address" class="form-control" id="address"/>
            </div>
            <div class="mb-3">
                <label for="personal-email" class="form-label">Personal email</label>
                <input type="email" name="personalEmail" class="form-control" id="personal-email"/>
            </div>
        </div>
        <hr/>
        <h5>Job Information</h5>
        <div class="d-flex flex-row"> <!-- Group 2 by 2 horizontally -->
            <div class="mb-3 me-5">
                <label for="post" class="form-label">Function</label>
                <input type="text" name="post" class="form-control" id="post"/>
            </div>
            <div class="mb-3">
                <label class="form-label">Socio-professional Category</label><br />
                <select name="SocioProfesionalCategory">
                    <option th:each="socioProfesonalCategoryOpt : ${T(com.example.prog4.model.Employee.SocioProfesionalCategory).values()}"
                            th:value="${socioProfesonalCategoryOpt}" th:text="${socioProfesonalCategoryOpt}"></option>
                </select>
            </div>
        </div>
        <div class="d-flex flex-row"> <!-- Group 2 by 2 horizontally -->
            <div class="mb-3 me-5">
                <label for="entranceDate" class="form-label">Entrance Date</label>
                <input type="date" name="entranceDate" class="form-control" id="entranceDate"/>
            </div>
            <div class="mb-3">
                <label for="departingDate" class="form-label">Departing Date</label>
                <input type="date" name="departingDate" class="form-control" id="departingDate"/>
            </div>
        </div>
        <div class="d-flex flex-row"> <!-- Group 2 by 2 horizontally -->
            <div class="mb-3 me-5">
                <label for="phoneNumber" class="form-label">Phone Number</label>
                <input type="tel" name="phoneNumber" class="form-control" id="phoneNumber"/>
            </div>
            <div class="mb-3">
                <label for="professional-email" class="form-label">Professional email</label>
                <input type="email" name="professionalEmail" class="form-control" id="professional-email"/>
            </div>
        </div>
        <hr/>
        <h5>National Identity Card</h5>
        <div class="d-flex flex-row"> <!-- Group 2 by 2 horizontally -->
            <div class="mb-3 me-5">
                <label for="CIN" class="form-label">NIC Number</label>
                <input type="text" name="CIN" class="form-control" id="CIN"/>
            </div>
        </div>
        <div class="d-flex flex-row"> <!-- Group 2 by 2 horizontally -->
            <div class="mb-3 me-5">
                <label for="deliveryLocation" class="form-label">Delivery Location</label>
                <input type="text" name="deliveryLocation" class="form-control" id="deliveryLocation"/>
            </div>
            <div class="mb-3">
                <label for="deliveryDate" class="form-label">Delivery Date</label>
                <input type="date" name="deliveryDate" class="form-control" id="deliveryDate"/>
            </div>
        </div>
        <hr/>
        <h5>Others</h5>
        <div class="d-flex flex-row"> <!-- Group 2 by 2 horizontally -->
            <div class="mb-3 me-5">
                <label for="CNAPS" class="form-label">CNAPS Number</label>
                <input type="text" name="CNAPS" class="form-control" id="CNAPS"/>
            </div>
            <div class="mb-3">
                <label for="children" class="form-label">Children's Number</label>
                <input type="number" name="children" class="form-control" id="children"/>
            </div>
            <!-- Add the other remaining fields here... -->
        </div>
        <hr/>
        <div class="button-container d-flex align-items-center justify-content-around">
            <button class="btn btn-success" type="submit">Save</button>
            <button class="btn btn-secondary" type="button"><a href="/">Cancel</a></button>
        </div>
    </form>
</div>
<script>
    // JavaScript code to log a message when the form is submitted and data is saved
    document.querySelector('.form').addEventListener('submit', function (event) {
        console.log(event.target.value);
    });
</script>
</body>
</html>
