<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="ISO-8859-1"/>
    <link th:href="@{/styles/style.css}" rel="stylesheet"/>
    <link th:href="@{/styles/custom-style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Spring Boot Application</title>
    <script th:src="@{/scripts/index.js}" defer></script>
</head>
<body>
<div class="profile-form d-flex align-items-center flex-column">
    <h4 class="operation-title">Create Company</h4>
    <form action="/saveCompany" method="POST" th:object="${company}" enctype="multipart/form-data" class="form">
        <div class="mb-3 d-flex flex-row align-items-center">
            <div class="img-container">
                <img th:src="@{images/images.png}" alt="image" height="120" width="120"/>
                <div class="upload-img">
                    <label for="logo" class="form-label"><i class="fas fa-camera"></i></label>
                    <input type="file" class="form-control" id="logo" name="logo"/>
                </div>
            </div>
            <div class="d-flex flex-column">
                <h3>-- --</h3>
                <h4 class="function-info">-- --</h4>
                <h5 class="ref">-- --</h5>
            </div>
        </div>
        <hr/>
        <h5>General Information</h5>
        <div class="d-flex flex-row">
            <div class="mb-3 me-5">
                <label for="name" class="form-label">Name</label>
                <input type="text" name="name" class="form-control" id="name">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <input name="description" class="form-control" id="description">
            </div>
        </div>
        <div class="d-flex flex-row">
            <div class="mb-3 me-5">
                <label for="address" class="form-label">Address</label>
                <input type="text" name="address" class="form-control" id="address"/>
            </div>
            <div class="mb-3">
                <label for="slogan" class="form-label">Slogan</label>
                <input type="text" name="slogan" class="form-control" id="slogan"/>
            </div>
        </div>
        <hr/>
        <h5>Contact</h5>
        <div class="d-flex flex-row"> <!-- Group 2 by 2 horizontally -->
            <div class="mb-3 me-5">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" class="form-control" id="email"/>
            </div>
            <div class="mb-3 me-5">
                <label for="phoneNumbers" class="form-label">Phone Number</label>
                <input type="tel" name="phoneNumbers" class="form-control" id="phoneNumbers"/>
            </div>
        </div>
        <hr/>
        <h5>Others</h5>
        <div class="d-flex flex-row"> <!-- Group 2 by 2 horizontally -->
            <div class="mb-3 me-5">
                <label for="nif" class="form-label">NIF</label>
                <input type="text" name="nif" class="form-control" id="nif"/>
            </div>
            <div class="mb-3 me-5">
                <label for="stat" class="form-label">STAT</label>
                <input type="text" name="stat" class="form-control" id="stat"/>
            </div>
        </div>
        <div class="d-flex flex-row"> <!-- Group 2 by 2 horizontally -->
            <div class="mb-3 me-5">
                <label for="rcs" class="form-label">RCS</label>
                <input type="text" name="rcs" class="form-control" id="rcs"/>
            </div>
        </div>
        <hr/>
        <div class="button-container d-flex align-items-center justify-content-around">
            <button class="btn btn-success" type="submit">Save</button>
        </div>
    </form>
</div>
<script>
    // JavaScript code to log a message when the form is submitted and data is saved
    document.querySelector('.form').addEventListener('submit', function (event) {
        console.log(event);
    });
</script>
</body>
</html>
