<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link th:href="@{/styles/style.css}" rel="stylesheet"/>
    <title>Spring Boot Application</title>
    <script th:src="@{/scripts/index.js}" defer></script>
    <style>
        img {
            object-fit: contain;
            width: 100px;
            height: 100px;
        }
    </style>
</head>
<body>
<div class="d-flex flex-column align-items-center justify-content-center h-100 w-100">
    <form action="/sort" method="get" class="p-2 w-100 d-flex flex-row  border">
        <div class="mb-2 ps-2 w-40 border" style="width: 40%">
            <label for="sortAttribute" class="block text-sm font-medium text-gray-700">Trier par :</label>
            <select id="sortAttribute" name="sortAttribute"
                    class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
                    style="width: 200px"
            >
                <option value="lastName">Nom</option>
                <option value="firstName">Prénom</option>
                <option value="sex">Sexe</option>
                <option value="post">Fonction</option>
            </select>
        </div>
        <div class="mb-2 ps-2 border" style="width: 40%">
            <label class="block text-sm font-medium text-gray-700">Ordre de tri :</label>
            <div class="mt-1">
                <label for="radioButton1" class="inline-flex items-center">
                    <input type="radio" name="sortOrder" id="radioButton1" class="formbold-radio" value="asc">
                    <span class="ml-2 text-sm text-gray-700">Croissant</span>
                </label>
                <label for="radioButton2" class="ml-4 inline-flex items-center">
                    <input type="radio" name="sortOrder" id="radioButton2" class="formbold-radio" value="desc">
                    <span class="ml-2 text-sm text-gray-700">Décroissant</span>
                </label>
            </div>
        </div>
        <button type="submit" class="ms-2 btn btn-primary" style="width: 10%; height: 53px; font-size: 14px">Trier</button>
        <button class="btn btn-success ms-2" style="height: 53px">
            <a class="nav-link active" href="/createEmployee" style="font-size: 14px">Create Employee</a>
        </button>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th>Image</th>
            <th>Reference</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Post</th>
            <th>Entrance Date</th>
            <th>Departing Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee, id: ${employees}" th:attr="data-id=${employee.id}">
            <td>
                <img th:src="'data:image/jpeg;base64,' + ${employee.getImage()}" alt="image">
            </td>
            <td th:text="${employee.getRegistrationNumber()}"></td>
            <td th:text="${employee.getFirstName()}"></td>
            <td th:text="${employee.getLastName()}"></td>
            <td th:text="${employee.getSex()}"></td>
            <td th:text="${employee.getPost()}"></td>
            <td th:text="${employee.getEntranceDate()}"></td>
            <td th:text="${employee.getDepartingDate()}"></td>
        </tr>
        </tbody>
    </table>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const rows = document.querySelectorAll('[data-id]');
        rows.forEach(function (row) {
            row.addEventListener('click', function () {
                const employeeId = row.getAttribute('data-id');
                window.location.href = '/details?id=' + employeeId;
            });
        });
    });
</script>
</body>
</html>